header {
  position: relative;
  z-index: 2;
}

.navigation li a {
  position: relative;
  color: #fff;
}

.navigation li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: #124f70;
  top: -10px;
  left: 0;
  border-radius: 5px;
  display: none;
}

.navigation li a.active::after {
  display: block;
}